/*font-family: 'Wendy One', sans-serif;
font-family: 'Hind Guntur', sans-serif;*/

body {
    /*background-color: #8a9ec8;*/
    /*background-color: #1e3453;*/
    background-color: #186353;
    font-family: 'Hind Guntur', sans-serif;
    height: 100%;
}

img {
  width: 100%;
}
h1 {
  color: #fff;
}
.white {
  color: #fff;
}
form label {
  color: #fff;
}
.yellow {
  color: #ffc22b;
}
.pad_left {
  padding-left: 15px;
}
/********************************
      ALTER BOOTSTRAP CSS
********************************/
.form-control {
  padding: 0 0 0 5px;
}
.org_profile_projects .panel {
  height: 280px;
}
.navbar {
    border-radius: 0;
}
.navbar-nav {
  margin: 0 -15px;
}
.navbar-header .navbar-brand {
    color: #fff;
    font-family: 'Wendy One', sans-serif;
}

.search_projects.bootstrap-iso {
    background-color: inherit;
}

.bootstrap-iso .btn-primary {
  background-color: #ffc22b;
  color: #222;
}

.entry_links .btn-primary {
    background-color: #fff;
    color: #222;
    border-color: darkgoldenrod;
    transition: 0.3s;
}

.btn-primary {
    background-color: #ffc22b;
    color: #222;
    border-color: darkgoldenrod;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #ffe86f;
    color: #222;
    border-color: darkgoldenrod;
    transition: 0.3s;
}

/************************
        HOMEPAGE
************************/
.choose {
  font-weight: bold;
  font-style: italic;
  color: #ffe86f;
}
.get_involved_div, .keep_wrapped {
  max-width: 350px;
  margin: auto;
}
.try_text {
  font-size: 1.5em;
}
.keep_wrapped {
  line-height: 1.5em;
}
.get_involved_div h1 {
  text-transform: uppercase;
  font-family: 'Wendy One', sans-serif;
  font-size: 2.1em;
  /*color: blue;*/
  color: #fff;
  letter-spacing: 0.08em;
}
.quote h4 {
  margin-bottom: 0;
}
.quote p {
  max-width: 350px;
  margin: auto;
}
.quote {
    /*color: #006F9F;*/
    color: #fff;
}

.involve-hr {
    height: 1px;
    color: #222;
    background-color: #222;
}

.homepage_dig {
  max-width: 750px;
  margin: auto;
}

.entry_links {
  margin: 2em 0;
}

.entry_links a {
    font-size: 1.2em;
    font-weight: bold;
    /*margin: 0.5em 0;*/
}

.entry_links_one {
    /*margin-right: 5px;*/
    /*padding: 20px 55px;*/
    /*padding: 20px 30px;*/
    padding: 20px 36.46px;
    margin: 5px 5px 5px 0;
}

.entry_links_two {
    padding: 20px 4.75px;
    /*padding: 20px;*/
    margin: 5px 0 5px 5px;
    /*padding: 20px 45px;*/
    /*margin-right: 5px;*/
}

.entry_links a:nth-last-of-type(an+b) {
    /*margin-left: 5px;*/
}

/*.main-body {
    min-height: 515px;
}*/

/************************
          LOGIN
************************/

#login_form {
    max-width: 350px;
    margin: auto;
}


/************************
        REGISTRATION
************************/

.register_user {
    margin-top: 2em;
}

.register_user a {
    margin: .5em;
    padding: 1em 1.25em;
    font-size: 1.6em;
}
.register_user a:last-child {
  padding: 1em 2.15em;
}

/************************************
        ORG_SIGNUP / VOL_SIGNUP
************************************/

.create_user_heading {
    margin-bottom: 2em;
}

#signup_form {
    max-width: 350px;
    margin: auto;
}

#signup_form label {
  font-size: 1.25em;
}
/************************
        PROJECTS
************************/
.search_projects label {
  font-size: 1.6em;
}
.projects_container {
  margin-top: 1.5em;
}
.project_image_div {
  margin-bottom: 1em;
}
.projects_container label {
  font-size: 1.25em;
}
.projects_container p {
  font-size: 1.1em;
}
table, th, tr, td {
    border: 2px solid lightgray;
    text-align: center;
}

table {
    width: 100%;
    border-radius: 10px;
}
/******************************
        CREATE NEW EVENT
******************************/
.form-header {
  margin-bottom: 3em;
}
/********************************
          VOL / ORG PROFILE
********************************/
.create {
  margin-bottom: 2em;
}
/********************************
          ORG LIST
********************************/
.org_list .panel {
  height: 180px;
}
/************************
          FOOTER
************************/

footer {
    padding: 15px;
    background-color: #222;
    width: 100%;
}

footer, footer a {
    color: #fff;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto 0;
    /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 50px;
    /* .push must be the same height as .footer */
}
