{% extends "layout.html" %}


{% block body %}
<div class="homepage_white">
  <div class="get_involved_div">
    <h1>Get involved</h1>
    <!-- <img src="/static/get_involved.png" alt="Get Involved" /> -->
  </div>
  <hr class="involve-hr">
  <div class="row quote">
    <div class="col-xs-12 text-center">
      <h3>
        Volunteer and <em><strong>choose</strong></em> to be the difference in someone's life.

        <!-- Sign up today and start being apart of something bigger. -->
        <!-- /Search volunteering events by date, sign up hassle free. Get involved today! -->
      </h3>
    </div>
  </div>
  <hr class="involve-hr">

  <div class="row entry_links">
    <div class="col-xs-12 text-center">
      <a class="entry_links_one btn btn-primary" href="/login">Login</a>
      <a class="entry_links_two btn btn-primary" href="/registration">Register</a>
    </div>
  </div>
  <!-- <div class="row entry_links">
    <div class="col-sm-6 text-center">
      <a class="entry_links_one btn btn-primary" href="/login">Login</a>
    </div>
    <div class="col-sm-6 text-center">
      <a class="entry_links_two btn btn-primary" href="/registration">Register</a>
    </div>
  </div> -->

  <div class="row homepage_dig">
    <div class="col-xs-12">
      <img src="/static/help_dig.jpg" alt="" />
    </div>
  </div>
</div>

{% endblock %}


<!-- <a href="/projects">View all Projects</a> -->
