{% extends "layout.html" %}


{% block body %}
<div class="homepage_white">
  <div class="get_involved_div">
    <img src="/static/get_involved.png" alt="Get Involved" />
  </div>
  <hr class="involve-hr">
  <div class="row quote">
    <div class="col-xs-12 text-center">
      <h3>
        Search volunteering events by date, sign up hassle free. Get involved today!
      </h3>
    </div>
  </div>
  <hr class="involve-hr">

  <div class="row entry_links">
    <div class="col-xs-12 text-center">
      <a class="btn btn-primary" href="/login">Login</a>
      <a class="btn btn-primary" href="/registration">Register</a>
    </div>
  </div>
</div>

{% endblock %}


<!-- <a href="/projects">View all Projects</a> -->
