{% extends "layout.html" %}


{% block body %}
<div>
  <div class="get_involved_div">
    <h1>Get in<span class="yellow">vol</span>ved</h1>
    <!-- <img src="/static/get_involved.png" alt="Get Involved" /> -->
  </div>
  <hr class="involve-hr">
  <div class="row quote">
    <div class="col-xs-12 text-center">
      <h4>
        Volunteer and <span class="choose">choose</span> to be the difference in someone's life.<br><br>
        Get involved today and start making change where it matters.<br><br><br>
        <!-- Sign up today and start being apart of something bigger. -->
        <!-- /Search volunteering events by date, sign up hassle free. Get involved today! -->
      </h4>
      <p>
        Since volunteering shouldn’t be difficult,
        we've gone ahead and made it easy for you.
        Simply sign up, choose an event that works for you, and show up
        to start getting <span class="choose">involved</span>.
      </p>
        <!-- Trying to volunteer shouldn’t be difficult -->
      <!-- </h3><br><br> -->
      <!-- <h4>Organizations post open community events for volunteers to register for<br><br> -->

        <!-- Volunteers search by the date they’re free, register, and are automatically added to the list -->
      <!-- </h4> -->
    </div>
  </div>
  <hr class="involve-hr">

  <div class="row entry_links">
    <div class="col-xs-12 text-center">
      <a class="entry_links_one btn btn-primary" href="/login">Login</a>
      <a class="entry_links_two btn btn-primary" href="/registration">Register</a>
    </div>
  </div>

  <div class="row homepage_dig">
    <div class="col-xs-12">
      <img src="/static/help_dig.jpg" alt="" />
    </div>
  </div>
</div>

{% endblock %}


<!-- <a href="/projects">View all Projects</a> -->
