{% extends "layout.html" %}

{% block body %}
<div class="row create_user_heading">
  <div class="col-xs-12 text-center">
    <h1>{{org_info.organization}}</h1>
  </div>
</div>
<div class="container">
    <div class="jumbotron">
        <div class="pull-right">
            <img src="/static/Volunteer_Hands.jpg" alt="" width="700px" />
        </div>
        <label for="">Organization:</label>
        <p>
            {{org_info.organization}}
        </p>
        <label for="">Project:</label>
        <p>
            {{org_info.project}}
        </p>
        <label for="">Description:</label>
        <p>
            {{org_info.description}}
        </p>
        <label for="">When:</label>
        <p>
            {{org_info.date}}
        </p>
        <label for="">time:</label>
        <p>
            {{org_info.time}}
        </p>
        {% if org_info.vol_needed > 0 %}
          <a href="/register_project/{{project_id}}/confirm">Confirm registration</a>
        {% else %}
          <p>
            sorry, full
          </p>
        {% endif %}
    </div>
</div>
{% endblock %}
